name: Build
on:
  push:
    branches: [main]

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      
      - name: Build with Maven
        run: mvn clean verify
        working-directory: ./huffman_project/demo2   # ← point to pom.xml folder
      
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          projectBaseDir: ./huffman_project/demo2    # ← same folder for Sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
